
    body {
      background-color: #f9f9f9;
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      font-weight: 700;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
    }

    section {
      padding: 30px 25px;
    }

    section > * {
      margin: 10px
    }

    /* Button */
    .button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
    }

    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }

    .button.narrow {
      width: 60px;
    }

    .button.grey {
      background-color: #eee;
    }

    .button.blue {
      background-color: #4285f4;
      color: #fff;
    }

    .button.green {
      background-color: #0f9d58;
      color: #fff;
    }

    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }

    /* Icon Button */
    .icon-button {
      position: relative;
      display: inline-block;
      width: 56px;
      height: 56px;
    }

    .icon-button > core-icon {
      margin: 16px;
      transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-button:hover > core-icon {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .icon-button > paper-ripple {
      overflow: hidden;
      color: #646464;
    }

    .icon-button.red > core-icon::shadow path {
      fill: #db4437;
    }

    .icon-button.red > paper-ripple {
      color: #db4437;
    }

    .icon-button.blue > core-icon::shadow path {
      fill: #4285f4;
    }

    .icon-button.blue > paper-ripple {
      color: #4285f4;
    }

    /* FAB */
    .fab {
      position: relative;
      display: inline-block;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      color: #fff;
      overflow: hidden;
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    .fab.red {
      background-color: #d23f31;
    }

    .fab.blue {
      background-color: #4285f4;
    }

    .fab.green {
      background-color: #0f9d58;
    }

    .fab:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }

    .fab > core-icon {
      margin: 16px;
    }

    .fab > core-icon::shadow path {
      fill: #fff;
    }

    /* Menu */
    .menu {
      display: inline-block;
      width: 180px;
      background-color: #fff;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }

    .item {
      position: relative;
      height: 48px;
      line-height: 48px;
      color: #646464;
      font-size: 0.9em;
    }

    .menu.blue > .item {
      color: #4285f4;
    }

    /* Card, Dialog */
    .card, .dialog {
      position: relative;
      display: inline-block;
      width: 300px;
      height: 240px;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }

    .dialog {
      box-sizing: border-box;
      padding: 16px;
    }

    .dialog > .content {
      height: 170px;
      font-size: 0.9em;
    }

    .dialog > .content > .title {
      font-size: 1.3em;
    }

    .dialog > .button {
      width: 90px;
      float: right;
    }

    .card.image {
      background: url(http://lorempixel.com/300/240/nature/);
      color: #fff;
    }

    /* Misc */
    .center {
      text-align: center;
    }

    .label {
      padding: 0 16px;
    }

    .label-blue {
      color: #4285f4;
    }

    .label-red {
      color: #d23f31;
    }

    .BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
