<!DOCTYPE html>
<html lang="en" ng-app="sugarApp" ng-cloak>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sugar to Teaspoons</title>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script> 


</head>
<body  class="inset">
	<div ng-controller="sugarController" layout-fill>
		<form name="searchForm"  data-ng-submit="doSearch()">
			<md-input-container flex class="md-icon-float">
			<label> Search for a food or food product, Ex. salad dressing, Snickers, or Kashi granola</label>
			<md-icon aria-label="Search" class="material-icons">search</md-icon>
			<input type="text" required ng-model="queryInput"  >
		</md-input-container>
		<md-button class="md-raised md-primary" type="submit">Search</md-button>
		{{error}}
	</form>

	<md-content>
	<ul>
		<div ng-hide="result">
			<div ng-show="query">
				<script> </script>
				Results for '{{baseList.q}}'.  Please scroll down.
				<md-card ng-show="query">
				<md-card-content>
				<li ng-repeat="item in queryResult track by $index">

					<a href ng-click="showResults(item.ndbno, $index)">{{item.name}}</a>
				</md-card-content>
			</md-card>
		</div>
	</div>


	<div ng-controller="resultController" >
		<md-card > 
		<md-card-content>
		<p class="lead">The amount of sugar in</p> 
		<h4> {{prodDetail.nutrients[6].measures[0].qty}}{{prodDetail.nutrients[6].measures[0].label}}</h4> 
		of <strong>{{prodDetail.name}}</strong> is 
		<strong> <big>{{prodDetail.nutrients[6].measures[0].value}}</big>g</strong>, or 
		<strong> <big>{{prodDetail.nutrients[6].measures[0].value / 7 |number:2}}</big> circus peanuts</strong>, 
		or <h3> {{prodDetail.nutrients[6].measures[0].value /4 | number:2}} teaspoons</h3><p class="lead"> of granulated sugar.</p>  <small><strong>That's <big>{{(prodDetail.nutrients[6].measures[0].value) *4 | number:2}}</big> calories from the sugar alone.</strong> There are 16 calories per tsp of sugar.</small>

		<footer>
			<small>Source: USDA National Nutrient Database for Standard Reference - Release {{baseReport.sr}}</small>
		</footer>
	</md-card-content>
</md-card>
</div>
</div>
</ul>
<div class="container">

	<footer class="footer">
		<p><small><i>Note</i>: this app is currently under development and may not return completely accurate data in every instance.  For guaranteed accuracy use the USDA's database <a href="http://ndb.nal.usda.gov/ndb/foods">http://ndb.nal.usda.gov/ndb/foods</a></small></p>
	</footer>
</div>

</div>


<script>
/* TODO
	high
	animate the front end
		show/hide results and query list dynamically
	fix the NaN display of quantity

	clean up code: remove redundancies
	 - done figure out how to pass the ndbno result to $scope.querySelection 
	 	needed to 'track by $index'
	
	low
	implement toast to inform on loading
	make it look better on mobile
	reformat get requests into factory
	*/
	angular.module('sugarApp',['ngMaterial']).controller('sugarController',['$scope','$http', '$mdToast',function($scope, $http, $mdToast){

		$scope.doSearch = function(){ 
			$scope.loadingToast();
			$scope.searchUrl = '//api.nal.usda.gov/ndb/search/';
			$scope.testUrl = '//api.nal.usda.gov/ndb/reports/?ndbno=14400&type=f&format=json&api_key=xXWRPsLg1ndI942IC23yN8qWNmNWBRlnEer21RjD';
			$scope.api_key = '&api_key=xXWRPsLg1ndI942IC23yN8qWNmNWBRlnEer21RjD';
			$scope.fmtJson = '?format=json';
			$scope.q = '&q=';
			$scope.callback = '&callback=JSON_CALLBACK';
			$scope.query = $scope.queryInput;
			$scope.fullUrl= $scope.searchUrl + $scope.fmtJson + $scope.q + $scope.query + $scope.api_key + $scope.callback;

			$http({
				method: 'GET',
				url: $scope.fullUrl
			}).then(function successCallback(response) {
				/*$scopes here*/
				$scope.baseReport=response.data.report;
				$scope.baseList=response.data.list;
				$scope.queryResult=response.data.list.item;
				$scope.ndbnum = response.data.list.item.ndbno;

				$scope.$emit('QUERY');
				$scope.$emit('NORESULT');
				$scope.error= "";
				$scope.doneToast();
			}, function errorCallback(response) {
				/*errors here*/
				$scope.error = "Nothing found. Try a different search. You can search by brand name, or by generic.";
			});

		};

		$scope.showResults = function(ndbno, index){
			//$scope.$emit('LOAD');
			//$scope.loadingToast();
			$scope.$emit('RESULT');
			$scope.resultBaseUrl = '//api.nal.usda.gov/ndb/reports/';
			$scope.ndb = '?ndbno=';
			$scope.ndbnum = ndbno;
			$scope.rtype = '&type=b'
			$scope.fmtJson = '&format=json';
			$scope.api_key = '&api_key=xXWRPsLg1ndI942IC23yN8qWNmNWBRlnEer21RjD';
			$scope.callback = '&callback=JSON_CALLBACK';
			/*temporary comment out $scope.baseReport = {}; */
			$scope.resultUrl= $scope.resultBaseUrl + $scope.ndb + $scope.ndbnum + $scope.rtype
			+ $scope.api_key + $scope.fmtJson + $scope.callback;

			$http({
				method: 'POST',
				url: $scope.resultUrl
			}).then(function successCallback(response) {
				/*$scopes here */
				$scope.baseReport=response.data.report;
				$scope.prodDetail=response.data.report.food;
				//$scope.$emit('UNLOAD');
				$scope.$emit('NOQUERY')
				$scope.$emit('RESULT');
				$scope.error = "";
				$scope.doneToast();
			}, function errorCallback(response) {
				/*errors here*/
				$scope.error = "Nothing found. Try a different search. You can search by brand name, or by generic.";
			});
		};
			/*Toast code*/
		var last = {
			bottom: false,
			top: true,
			left: false,
			right: true
		};

		$scope.toastPosition = angular.extend({},last);
		$scope.getToastPosition = function() {
			sanitizePosition();
			return Object.keys($scope.toastPosition)
			.filter(function(pos) { return $scope.toastPosition[pos]; })
			.join(' ');
		};

		function sanitizePosition() {
			var current = $scope.toastPosition;
			if ( current.bottom && last.top ) current.top = false;
			if ( current.top && last.bottom ) current.bottom = false;
			if ( current.right && last.left ) current.left = false;
			if ( current.left && last.right ) current.right = false;
			last = angular.extend({},current);
		}
		$scope.loadingToast = function() {
			$mdToast.show(
				$mdToast.simple()
				.content('Loading...')
				.position($scope.getToastPosition())
				.hideDelay(50)
				);
		};
		$scope.doneToast = function() {
			$mdToast.show(
				$mdToast.simple()
				.content('Done!')
				.position($scope.getToastPosition())
				.hideDelay(33)
				);
		};
		

	}])
/*setting up scope emit flags for use in showing/hiding view elements*/
/*used for showing or hiding results div*/
.controller('resultController', ['$scope', function($scope){
	$scope.$on('RESULT',function(){$scope.result=true});
	$scope.$on('NORESULT',function(){$scope.result=false});
}]) /*used for showing or hiding query list view div*/
.controller('queryController', ['$scope', function($scope){
	$scope.$on('QUERY',function(){$scope.query=true});
	$scope.$on('NOQUERY',function(){$scope.query=false});
}]) /*used for showing or hiding the loading indicator div*/
.controller('ToastCtrl', function($scope, $mdToast){
	$scope.closeToast = function() {
		$mdToast.hide();
	};
});
</script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>

</body>
</html>